<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' {{{ csp }}}">
    <title>Git-it</title>
    <meta name="currentChallenge" content="{{{ shortName }}}">
    <link rel="stylesheet" href="../../built/styles/style.css">
    <style title="jsTranslationStylesheet" id="challenge-translation-style"></style>
  </head>
  <body>
    {{{ header }}}

    <div class="wrapper--challenge">
      <div class="wrapper--challenge__sidebar">
        {{{ sidebar }}}
      </div>
      <div id="wrapper__content" class="wrapper--challenge__content">
        {{{ body }}}
        {{{ footer }}}
      </div>
    </div>

    <script>require('../../lib/challenge-sidebar-handler.js')</script>
    <script>require('../../lib/challenge-verify-handler.js')</script>
    <script>require('../../lib/i18n-translate.js')</script>
    <script>require('../../lib/handle-external-links.js')</script>
  </body>
</html>
